{% load static %}
<!DOCTYPE html>
<html>
<body>
    <div class="container" id="container">
        <div id="page-header">
            <h1 class="text-center"> 植物查询系统 </h1>
        </div>

        <div class="row">
        <form action="" method="GET" class="form-horizontal" role="form">
            <div id="checkbox" class="text-center">
                <label class="checkbox-inline text-success">在输入框中输入想查询内容或使用高级搜索功能</label>
            </div>
            <br>
            <div class="col-md-10 col-md-offset-1">
                花色：
                {% for checkbox in form.bloom_color_condition %}
                    {{ checkbox }}
                {% endfor %}
                <br>
                果色：
                {% for checkbox in form.fruit_color_condition %}
                    {{ checkbox }}
                {% endfor %}
                <div class="input-group col-md-10 col-md-offset-1">
                    <br>
                    {{ form.queryContent }}
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary" required>查找</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <br>

        {% if countNum != -1 %}
            {% if countNum == 0 %}
                <div class="alert alert-warning alert-dismissible col-md-10 col-md-offset-1" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    找不到相关的结果。请更换其他<b>&nbsp关键词或类型&nbsp</b>试试。</div></div>
            {% else %}
                <div class="row">
                    <div class="alert alert-success alert-dismissible col-md-10 col-md-offset-1" role="alert">
                        {% comment %}
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {% endcomment %}
                        找到相关结果 {{ countNum }} 个。用时 {{ time }} 秒。
                    </div>
                    <div class="table-responsive col-md-12">
                        <table class="table table-striped table-hover">
                        <tr>
                        <th class="text-center">中文名</th>
                        <th class="text-center">拉丁名</th>
                        <th class="text-center">科名</th>
                        <th class="text-center">属名</th>
                        <th class="text-center">别名</th>
                        <th class="text-center">形态</th>
                        <th class="text-center">花期</th>
                        <th class="text-center">花色</th>
                        <th class="text-center">果期</th>
                        <th class="text-center">果色</th>
                        <th class="text-center">叶色</th>
                        </tr>

                        {% for user in users %}
                            <tr>
                            <td class="text-center">{{ user.zname }}</td>
                            <td class="text-center">{{ user.ldname }}</td>
                            <td class="text-center">{{ user.kname }}</td>
                            <td class="text-center">{{ user.sname }}</td>
                            <td class="text-center">{{ user.biename }}</td>
                            <td class="text-center">{{ user.morphology }}</td>
                            <td class="text-center">{{ user.bloom_date }}</td>
                            <td class="text-center">{{ user.bloom_color }}</td>
                            <td class="text-center">{{ user.fruit_date }}</td>
                            <td class="text-center">{{ user.fruit_color }}</td>
                            <td class="text-center">{{ user.leaf_color }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                </div>

                <div id="pages" class="text-center" >
                    <nav>
                        <ul class="pagination">
                            <li class="step-links">
                                {% if users.has_previous %}
                                    <a class='active' href="?condition={{ condition }}&queryContent={{ keywords }}&page={{ users.previous_page_number }}">上一页</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ users.number }} of {{ users.paginator.num_pages }}
                                </span>

                                {% if users.has_next %}
                                    <a class='active' href="?condition={{ condition }}&queryContent={{ keywords }}&page={{ users.next_page_number }}">下一页</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endif %}
        {% endif %}

    </div>
</body>
</html>