{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="page-header" style="background-color:DARKSEAGREEN; height:100px;">
        <h1 class="text-center" style="padding-top: 3%; color: aliceblue; ">植物查询系统</h1>
    </div>
    <br>
    <form action="" method="GET" class="form-horizontal" role="form">
        <div class="container col-md-7">
            <div class="row">
                <div class="col-md border">
                    <div class="row ">
                        <label class="col-form-label pt-0 "> 花色：</label>
                        {% for checkbox in form.bloom_color_condition %}
                        {{ checkbox }} &nbsp;&nbsp;
                        {% endfor %}
                    </div>
                    <div class="row">
                        <label class="col-form-label pt-0"> 花期：</label>
                        {% render_field form.bloom_date_condition class="btn-light"%}
                    </div>
                    <div class="row">
                        <label class="col-form-label pt-0 "> 果色：</label>
                        {% for checkbox in form.fruit_color_condition %}
                        {{ checkbox }} &nbsp;&nbsp;
                        {% endfor %}
                    </div>
                    <div class="row">
                        <label class="col-form-label pt-0"> 果期：</label>
                        {% render_field form.fruit_date_condition class="btn-light"%}
                    </div>
                </div>
                <div class="col-md border">
                    <div class="row">
                        <label class="col-form-label col-sm-3 pt-0"> 叶色：</label>
                        {% for checkbox in form.leaf_color_condition %}
                        {{ checkbox }} &nbsp;&nbsp;
                        {% endfor %}
                    </div>
                    <div class="row">
                        <label class="col-form-label col-sm-4 pt-0"> 树木类型：</label>
                        {% render_field form.tree_type_condition class="btn-light"%}
                    </div>
                    <div class="row">
                        <label class="col-form-label col-sm-4 pt-0"> 观赏类型：</label>
                        {% render_field form.tree_value_condition class="btn-light"%}
                    </div>
                    <div class="row">
                        <label class="col-form-label col-sm-4 pt-0"> 树形：</label>
                        {% for radio in form.tree_shape_condition %}
                        {{ radio }} &nbsp;&nbsp;
                        {% endfor %}
                    </div>
                    <div class="row">
                        <label class="col-form-label col-sm-4 pt-0"> 场地土质：</label>
                        {% render_field form.soil_condition class="btn-light"%}
                    </div>
                    <div class="row">
                        <label class="col-form-label col-sm-4 pt-0"> 场地污染：</label>
                        {% render_field form.pollution_condition class="btn-light"%}
                    </div>
                </div>
            </div>
            <div id="checkbox" class="text-center">
                <label class="checkbox-inline text-success">请在<b>&nbsp输入框&nbsp</b>中输入想查询内容或直接使用<b>&nbsp高级搜索&nbsp</b>功能</label>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {% render_field form.queryContent class="form-control" placeholder="请输入需要查找的内容" %}
                </div>
                <button type="submit" class="btn btn-success col-md-2" required>查找植物</button>
            </div>
        </div>
    </form>
    <br>

    {% if countNum != -1 %}
    {% if countNum == 0 %}
    <div class="container col-md-8">
        <div class="alert alert-warning alert-dismissible col-md-12" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            找不到相关的结果。请更换其他<b>&nbsp关键词或类型&nbsp</b>试试。
        </div>
    </div>
    {% else %}
    <div class="container col-md-8">
        <div class="alert alert-success alert-dismissible col-md-12 col-md-offset-1 fade show" role="alert">
            找到相关结果 {{ countNum }} 个。用时 {{ time }} 秒。
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% for user in users%}
    <div class="container alert col-md-8" style="background-color:DARKSEAGREEN;">
        <div class="row">
            <span class="h4" style="padding-left: 1ex;"><a href = "{% url 'detail' user.species_name %}">{{ user.species_name }}</a></span>
            <span style="font-size:2.2ex; padding-top: 0.8ex; padding-left: 1ex; font-style: italic; font-family:'Times New Roman', Times, serif">{{ user.latin_name }}</span>
        </div>
    </div>
    <div class="container col-md-8 rounded-lg" style="margin-top: -1%; border:2px solid DARKSEAGREEN;">
        <div class="row">
            <div class="col-md-3">
                <img class="img-thumbnail rounded" src="/static/images/tree/{{user.species_name}}.png">
            </div>
            <div class="col-md-4">
                <legend class="col-form-info pt-0">
                    <b>科属：</b>{{ user.family_name }},&nbsp;{{ user.genus_name }}
                </legend>
                <legend class="col-form-info pt-0">
                    <b>别名：&nbsp;</b>{{ user.alternative_name }}
                </legend>
                <legend class="col-form-info pt-0">
                    <b>树木类型：&nbsp;</b>{{ user.tree_type }}
                </legend>
                <legend class="col-form-info pt-0">
                    <b>观赏类型：&nbsp;</b>{{ user.tree_value }}
                </legend>
                <legend class="col-form-info pt-0">
                    <b>叶色：</b>{{ user.leaf_color }}
                </legend>
                <legend class="col-form-info pt-0">
                    <b>形态特征：&nbsp;</b>
                    {{ user.morphology }}
                </legend>
            </div>
            <style>
                .col-form-info{
                    font-size: 16px;
                }
            </style>
            <div class="col-md-5">
                <div class = "row">
                    <legend class="col col-form-info pt-0">
                        <b>果色：</b>{{ user.fruit_color }}
                    </legend>
                    <legend class="col col-form-info pt-0">
                        <b>果期：</b>
                        {% for month in user.fruit_date.all %}
                            {% if month.name == "Jan" %}
                            1月
                            {% elif month.name == "Feb" %}
                            2月
                            {% elif month.name == "Mar" %}
                            3月
                            {% elif month.name == "Apr" %}
                            4月
                            {% elif month.name == "May" %}
                            5月
                            {% elif month.name == "Jun" %}
                            6月
                            {% elif month.name == "Jul" %}
                            7月
                            {% elif month.name == "Aug" %}
                            8月
                            {% elif month.name == "Sep" %}
                            9月
                            {% elif month.name == "Oct" %}
                            10月
                            {% elif month.name == "Nov" %}
                            11月
                            {% elif month.name == "Dec" %}
                            12月
                            {% endif %}
                        {% endfor %}
                    </legend>
                </div>
                <div class = "row">
                    <legend class="col col-form-info pt-0">
                        <b>花色：</b>{{ user.bloom_color }}
                    </legend>
                    <legend class="col col-form-info pt-0">
                        <b>花期：</b>
                        {% for month in user.bloom_date.all %}
                            {% if month.name == "Jan" %}
                            1月
                            {% elif month.name == "Feb" %}
                            2月
                            {% elif month.name == "Mar" %}
                            3月
                            {% elif month.name == "Apr" %}
                            4月
                            {% elif month.name == "May" %}
                            5月
                            {% elif month.name == "Jun" %}
                            6月
                            {% elif month.name == "Jul" %}
                            7月
                            {% elif month.name == "Aug" %}
                            8月
                            {% elif month.name == "Sep" %}
                            9月
                            {% elif month.name == "Oct" %}
                            10月
                            {% elif month.name == "Nov" %}
                            11月
                            {% elif month.name == "Dec" %}
                            12月
                            {% endif %}
                        {% endfor %}
                    </legend>
                </div>
                <style>
                    .leaf_season {
                        width: 50px;
                        height: 50px;
                        margin-left: 2%;
                        margin-right: 5%;
                    }
                    .fruit_season {
                        width: 25px;
                        height: 25px;
                        margin-left: 5%;
                        margin-right: 10%;
                        margin-top: 3%;
                        margin-bottom: 3%;
                    }
                    .bloom_season {
                        width: 45px;
                        height: 45px;
                        margin-left: 2%;
                        margin-right: 6%;
                    }
                </style>
                <div class="container col-md-11">
                    <div class="rounded" style="background-color:rgb(216, 238, 216);">
                        <h6 class="text-center" style="line-height: 4ex;">季相色彩示意图</h6>
                    </div>
                    <div class="container row rounded" style="margin-left: 1%; margin-top:-2.5%;">
                        <div class="col text-center rounded" style="background-color:SEASHELL;">春</div>
                        <div class="col text-center rounded" style="background-color:BEIGE;">夏</div>
                        <div class="col text-center rounded" style="background-color:ANTIQUEWHITE">秋</div>
                        <div class="col text-center rounded" style="background-color:WHITESMOKE;">冬</div>
                    </div>
                    <div class = "row" style="margin-left: 6%;">
                        <img class="leaf_season" src="/static/images/leaf/{{user.leaf_color_spring}}.png">
                        <img class="leaf_season" src="/static/images/leaf/{{user.leaf_color_summer}}.png">
                        <img class="leaf_season" src="/static/images/leaf/{{user.leaf_color_autumn}}.png">
                        <img class="leaf_season" src="/static/images/leaf/{{user.leaf_color_winter}}.png">
                    </div>
                    <div class = "row" style="margin-left: 6%;">
                        <img class="fruit_season" src="/static/images/fruit/{{user.fruit_color_spring}}.png">
                        <img class="fruit_season" src="/static/images/fruit/{{user.fruit_color_summer}}.png">
                        <img class="fruit_season" src="/static/images/fruit/{{user.fruit_color_autumn}}.png">
                        <img class="fruit_season" src="/static/images/fruit/{{user.fruit_color_winter}}.png">
                    </div>
                    <div class = "row" style="margin-left: 6%;">
                        <img class="bloom_season" src="/static/images/bloom/{{user.bloom_color_spring}}.png">
                        <img class="bloom_season" src="/static/images/bloom/{{user.bloom_color_summer}}.png">
                        <img class="bloom_season" src="/static/images/bloom/{{user.bloom_color_autumn}}.png">
                        <img class="bloom_season" src="/static/images/bloom/{{user.bloom_color_winter}}.png">
                    </div>
                    <span class="text-center" style="font-size: 1.4ex; line-height: 1ex; margin-left: 10%;">*仅表现色相变化，图案大小和形状仅为示意</span>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if users.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?condition={{ condition }}&queryContent={{ keywords }}&page={{ users.previous_page_number }}">上一页</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="">上一页</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <a class="page-link"> 第 {{ users.number }} 页，共 {{ users.paginator.num_pages }} 页 </a>
            </li>
            {% if users.has_next %}
            <li class="page-item">
                <a class="page-link" href="?condition={{ condition }}&queryContent={{ keywords }}&page={{ users.next_page_number }}">下一页</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="">下一页</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% endif %}
</body>

</html>